.start-btn {
  padding: 1em 1.8em;
  background-color: var(--button-primary-yellow-bg);
  border: none;
  cursor: pointer;;
}

.disabled-btn {
  padding: 1em 1.8em;
  background-color: var(--button-disabled-bg);
  color: var(--button-disabled-text);
  border: none;
}