@use '../abstract/mixins' as mx;

body {
    margin: 0;
}

section {
    width: 100vw;
    height: 100vh;
    background-color: #303131;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    height: 300px;
    aspect-ratio: 1/1;
    border: solid 2px green;
}

header {
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: 41px 0 54px;
}



.current-player{
    font-family: 'Red Rose';
    font-size: 26px;
    font-weight: 700;
    color: #F6F6F6;
}

.exit {
    width: 156px;
    height: 30px;
    @include mx.flex-center;
    font-family: 'Red Rose';
    font-size: 24px;
    font-weight: 700;
    color: #F6F6F6;
    background-color: rgba(134, 233, 214, 0.2);
    border: solid 1px #4DD5BC;
    gap: 10px;
    padding: 16px 24px;
}