@use '../abstract/mixins' as mx;

.content {
    padding: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "settings preview"
        "settings preview"
        "settings preview"
        "settings preview"
        "settings start"
    ;
}

.settings {
    font-family: 'Almarai';
}

.settings-content {
    grid-area: settings;
}

.h2-settings {
    font-family: 'Red Rose';
    font-size: 54px;
    margin: 0;
    grid-area: title;
}



.line-wrap {
    display: flex;
    align-items: center;
    margin-top: -8px;
    margin-left: -18px;
}

.diamond {
    width: 16px;
    height: 16px;
    background-color: #F0EA6E;
    transform: rotate(45deg);
    margin-left: -5px
}

.line-big {
    width: 251px;
    height: 4px;
    background-color: #F0EA6E;
    margin-left: -5px
}

.settings-box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.title-wrapper {
    display: flex;
    gap: 8px;
    margin: 54px 0 16px;
}

h2 {
    margin-block: unset;
}

ul {
    margin-left: 36px;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 12px;

    >li {
        height: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        input {
            border: solid 2px #303131;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            appearance: none;
            cursor: pointer;

            display: inline-block;
            box-sizing: border-box;
            background: #fff;
        }

        input:checked {
            border-color: #303131;
            background: radial-gradient(#303131 0 25%, transparent 30% 100%);
        }

        &:hover {
            font-weight: 700;
            cursor: pointer;

            .line-wrap-small {
                display: flex;
                align-items: center;
            }
        }
    }
}

ul>li:has(input:checked) .line-wrap-small {
    display: flex;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.line-wrap-small {
    display: none;
}

.line-small {
    width: 41px;
    height: 3px;
    background-color: #F0EA6E;
}

.diamond-small {
    width: 12px;
    height: 12px;
    background-color: #F0EA6E;
    transform: rotate(45deg);
}

.preview-themes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // grid-area: preview;
}

.preview-box {
    grid-area: preview;
}

.preview-headline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(77, 213, 188, 0.2);
    margin: 30px;
    font-family: 'Red Rose';
}

.selected-settings {
    display: flex;
    gap: 12px;
    font-family: 'Almarai';
    font-size: 20px;
    margin-top: 45px;
    padding: 14px 20px;
    Background-color: #F6F6F6;
    grid-area: start;

    >button {
        height: 53px;
        width: 126px;
        @include mx.flex-center;
        gap: 8px;
        background-color: #F0EA6E;
        border: none;
        font-family: 'Red Rose';
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }
}

.ss-line-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(30deg);
}

.ss-line {
    width: 4px;
    height: 56px;
    background-color: #F0EA6E;
}

.ss-diamond {
    width: 12px;
    height: 12px;
    background-color: #F0EA6E;
    transform: rotate(45deg);
}

.exit-btn {
    background: rgb(77, 213, 188, 0.2);
    border: solid 1px #4DD5BC;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    color: #F6F6F6;
    font-family: 'Red Rose';
    font-size: 16px;
    font-weight: 700;
}