@use "../abstracts/mixins" as flex-align;

body {
    @include flex-align.flex-align-center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1440px;
    flex-direction: column;
    font-family: "Red Rose", sans-serif;
}

.game-field {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-content: center;
    align-content: flex-start;
    gap: 10px;
    min-height: 100%;
}

// .game-field[data-cards="16"] {
//     grid-template-columns: repeat(4, auto);
// }

// .game-field[data-cards="24"] {
//     grid-template-columns: repeat(6, auto);
// }

// .game-field[data-cards="36"] {
//     grid-template-columns: repeat(6, auto);
// }

.field {
    height: clamp(4rem, 2.353rem + 8.235vw, 7.5rem);
    // height: 120px;
    // width: 120px;
    // border-style: solid;
    // border-color: transparent; // Standard: unsichtbar
    // box-sizing: border-box;
}

.card-button {
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: none;
    padding: unset;

    border-style: solid;
    border-color: transparent; // Standard: unsichtbar
    box-sizing: border-box;


    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 300ms ease-in-out;
        transform-style: preserve-3d;
    }

    &__face {
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        box-sizing: border-box;
        border-radius: inherit;

        &--back {
            transform: rotateY(180deg);
            padding: clamp(0.563rem, 0.151rem + 2.059vw, 1.438rem);
        }
    }

    &.is-flipped .card-button__inner {
        transform: rotateY(180deg);
    }
}

.card-button__face img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.theme-gaming .card-button {
    width: 105px;
    height: 120px;
}

.theme-projects .card-button {
    width: 120px;
    height: 100px;

    &__inner {
        border-radius: 13px;
    }
}

.theme-gaming .card-button {
    border-width: 3px;
}

.theme-projects .card-button {
    border-width: 2px;
}

.theme-food .card-button {
    border-width: 4px;
}

.winner-icon {
    height: 200px;
    width: 200px;
}

.game-over-wrapper {
    @include flex-align.flex-align-center;
    flex-direction: column;

    .game-over-text {
        color: var(--green-500);
        font-size: 124px;
        font-weight: 700;
        margin-bottom: 100px;
        text-shadow: -2px -2px 1px var(--green-100);
    }

    .game-over-score {
        color: var(--white);
        font-size: 26px;
        font-weight: 400;
    }

    // .score-wrapper {
    //     display: flex;
    //     gap: 32px;
    //     background-color: var(--green-400-transparent-20);
    //     padding: 20px;
    //     margin-top: 24px;

    //     .player-score {
    //         display: flex;
    //         gap: 5px;
    //         text-transform: capitalize;
    //     }
    // }
}

.winner-wrapper {
    @include flex-align.flex-align-center;
    flex-direction: column;

    .winner-text {
        color: var(--white);
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .winner-player {
        color: var(--blue);
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .winner-icon {
        margin: 64px 0;
    }
}