@use "../abstracts/mixins" as flex-align;
@use "../abstracts/mixins" as flex-all;

body {
    @include flex-align.flex-align-center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1440px;
    flex-direction: column;
    font-family: "Red Rose", sans-serif;
}

// Neu eingefügt
header {
    @include flex-align.flex-align-center;
    padding: 1em;
    justify-content: space-between;
    color: white;
    width: 90%;
    margin-top: 10px;

    .score-wrapper {
        @include flex-all.flex-all-center;
        gap: 20px;
        padding: 0.75em 1em;
        text-transform: capitalize;
        // font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
        font-size: clamp(0.875rem, 0.696rem + 0.893vw, 1.5rem);
        min-width: 115px;

        .player-score {
            display: flex;
            gap: 5px;
            text-transform: capitalize;
        }

        .player-svg {
            height: 40px;
        }

        .score-player-icon {
            width: clamp(1.25rem, 1.179rem + 0.357vw, 1.5rem);
            height: clamp(1rem, 0.929rem + 0.357vw, 1.25rem);
        }
    }

    .player-score {
        display: flex;
        align-items: center;
        gap: 4px;

        >img {
            height: clamp(0.875rem, 0.699rem + 0.882vw, 1.25rem);
        }

        .score-points {
            min-width: 2ch;
        }
    }

    .current-player-wrapper {
        display: flex;
        align-items: center;
        gap: 0.2em;
        font-size: clamp(0.875rem, 0.661rem + 1.071vw, 1.625rem);

        >img {
            height: clamp(1.125rem, 0.949rem + 0.882vw, 1.5rem);
        }
    }

    .exit-wrapper {
        @include flex-all.flex-all-center;
        gap: 10px;
        padding: 0.75em 1em;
        font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
    }
}

.game-field {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-content: center;
    align-content: flex-start;
    gap: clamp(0.125rem, -0.125rem + 1.25vw, 1rem);
    min-height: 100%;
    padding-top: clamp(1.125rem, 0.482rem + 3.214vw, 3.375rem);
}

.game-field.game-field-endscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: unset;
}

/* Wrapper pro Karte */
.field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(4.5rem, 3.643rem + 4.286vw, 7.5rem);
    height: clamp(4.5rem, 3.643rem + 4.286vw, 7.5rem);
    box-sizing: border-box;
}

/* Standardkarte */
.card-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    border-style: solid;
    border-color: transparent;
    box-sizing: border-box;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 300ms ease-in-out;
        transform-style: preserve-3d;
    }

    &__face {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        box-sizing: border-box;
        border-radius: inherit;

        &--back {
            transform: rotateY(180deg);
            padding: clamp(0.563rem, 0.151rem + 2.059vw, 1.438rem);
        }
    }

    &.is-flipped .card-button__inner {
        transform: rotateY(180deg);
    }
}

.card-button__face img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

// .theme-code.game-field.game-field-endscreen.game-field-win {
//     justify-content: flex-start !important;
// }

/* ---------- Gaming ---------- */

.theme-gaming .field {
    width: clamp(4.313rem, 3.67rem + 3.214vw, 6.563rem);
    height: clamp(4.75rem, 3.964rem + 3.929vw, 7.5rem);
}

.theme-gaming.game-field.game-field-endscreen {
    justify-content: center;
}

.theme-gaming .card-button {
    width: 100%;
    height: 100%;
}

/* ---------- DA Projects ---------- */

.theme-projects .field {
    width: clamp(4.75rem, 3.964rem + 3.929vw, 7.5rem);
    height: clamp(4.25rem, 3.679rem + 2.857vw, 6.25rem);
}

.theme-projects .card-button {
    width: 100%;
    height: 100%;
}

.theme-projects .card-button__inner {
    border-radius: 13px;
}

.theme-gaming .card-button {
    border-width: 3px;
}

.theme-projects .card-button {
    border-width: 2px;
}

.theme-food .card-button {
    border-width: 4px;
}

.game-field.size-24,
.game-field.size-36 {
    gap: clamp(0.063rem, -0.027rem + 0.446vw, 0.375rem);
    grid-template-columns: repeat(6, auto);
}

.winner-icon {
    height: clamp(9.375rem, 8.482rem + 4.464vw, 12.5rem);
    width: clamp(9.375rem, 8.482rem + 4.464vw, 12.5rem);
}

.game-over-wrapper {
    @include flex-align.flex-align-center;
    flex-direction: column;
    font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
    font-weight: 700;

    .game-over-text {
        font-size: clamp(3rem, 1.643rem + 6.786vw, 7.75rem);
        font-weight: 700;
        margin-bottom: clamp(3.5rem, 2.714rem + 3.929vw, 6.25rem);
    }

    .game-over-score {
        color: var(--white);
        font-size: 26px;
        font-weight: 400;
    }

    .score-wrapper {
        display: flex;
        gap: 32px;
        padding: 20px;
        margin-top: 24px;

        .player-score {
            @include flex-align.flex-align-center;
            gap: 5px;
            text-transform: capitalize;
        }
    }
}

.winner-wrapper {
    @include flex-align.flex-align-center;
    flex-direction: column;

    .winner-text {
        color: var(--white);
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .winner-player {
        color: var(--blue);
        font-size: clamp(2.5rem, 2.143rem + 1.786vw, 3.75rem);
        font-weight: 700;
        text-transform: uppercase;
    }

    .winner-icon {
        margin-top: clamp(1.75rem, 1.107rem + 3.214vw, 4rem)
    }
}

.exit-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    &.d-none {
        display: none;
    }
}

.exit-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(1.25rem, 0.643rem + 3.036vw, 3.375rem);
    padding: clamp(1.5rem, 1.214rem + 1.429vw, 2.5rem);
    text-align: center;
    width: clamp(19.5rem, 15.446rem + 20.268vw, 33.688rem);
    height: clamp(9.75rem, 7.714rem + 10.179vw, 16.875rem);
}

.exit-text {
    font-size: clamp(1.25rem, 1.036rem + 1.071vw, 2rem);
    font-weight: 700;
}

.exit-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;

    >button {
        cursor: pointer;
        font-size: clamp(0.875rem, 0.839rem + 0.179vw, 1rem);
    }
}

@media (max-width: 900px) {
    .game-over-text {
        font-size: 52px;
        margin-bottom: 52px;
    }
}

@media (max-width: 850px) {
    header {
        flex-direction: column-reverse;
        gap: 16px;
    }
}

// @media (max-width: 550px) {

//     .game-field.size-24,
//     .game-field.size-36 {
//         grid-template-columns: repeat(4, auto);
//     }
// }

@media (max-width: 450px) {
    // #game_header {
    //     padding: 7px;
    //     flex-direction: row;
    // }

    // header .current-player-wrapper {
    //     gap: 12px;
    //     flex: 0 0;
    //     >span {
    //         flex: 0 0;
    //     }
    // }

    // header .score-wrapper {
    //     padding: 8px;
    //     text-align: center;
    //     gap: 12px;
    // }

    // header .player-score .score-points {
    //     min-width: 1.8ch;
    // }

    // .theme-code .score-player {
    //     display: none;
    // }

    // header .exit-wrapper {
    //     padding: 8px;
    // }

    // .exit-text {
    //     display: none;
    // }

    .theme-code .game-field.size-24 .field,
    .theme-code .game-field.size-24 .card-button,
    .theme-code .game-field.size-36 .field,
    .theme-code .game-field.size-36 .card-button .theme-food .game-field.size-24 .field,
    .theme-food .game-field.size-24 .card-button,
    .theme-food .game-field.size-36 .field,
    .theme-food .game-field.size-36 .card-button {
        width: 64px;
        height: 64px;
    }

    .theme-gaming .game-field.size-24 .field,
    .theme-gaming .game-field.size-24 .card-button,
    .theme-gaming .game-field.size-36 .field,
    .theme-gaming .game-field.size-36 .card-button {
        width: 56px;
        height: 64px;
    }

    .theme-projects .game-field.size-24 .field,
    .theme-projects .game-field.size-24 .card-button,
    .theme-projects .game-field.size-36 .field,
    .theme-projects .game-field.size-36 .card-button {
        width: 60px;
        height: 52px;
    }

    .theme-gaming header .current-player-wrapper .player-svg,
    .theme-projects header .current-player-wrapper .player-svg,
    .theme-food header .current-player-wrapper .player-svg {
        width: 34px;
        height: 35px;
    }
}