@use "../abstracts/mixins" as flex-align;
@use "../abstracts/mixins" as flex-all;

body {
    @include flex-align.flex-align-center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1440px;
    flex-direction: column;
    font-family: "Red Rose", sans-serif;
}

// Neu eingefügt
header {
  @include flex-align.flex-align-center;
  padding: 1em;
  justify-content: space-between;
  color: white;
//   margin: 10px 0 20px;
  width: 90%;

  .score-wrapper {
    @include flex-all.flex-all-center;
    gap: 20px;
    padding: 0.75em 1em;
    text-transform: capitalize;
    font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);

    .player-score {
      display: flex;
      gap: 5px;
      text-transform: capitalize;
    }
    .player-svg {
      height: 40px;
    }
  }

  .player-score {
    display: flex;
    align-items: center;
    gap: 4px;

    >img {
      height: clamp(0.875rem, 0.699rem + 0.882vw, 1.25rem);
    }
  }

  .current-player-wrapper {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: clamp(1.125rem, 0.982rem + 0.714vw, 1.625rem);
    gap: 8px;

    >img {
      height: clamp(1.125rem, 0.949rem + 0.882vw, 1.5rem);
    }
  }

  .exit-wrapper {
    @include flex-all.flex-all-center;
    gap: 10px;
    padding: 0.75em 1em;
    font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
  }
}
//

.game-field {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-content: center;
    align-content: flex-start;
    // gap: 10px;
    gap: clamp(0.625rem, 0.518rem + 0.536vw, 1rem);
    min-height: 100%;
}

.field {
    height: clamp(4rem, 2.353rem + 8.235vw, 7.5rem);
    // height: clamp(3rem, 2.353rem + 6vw, 7.5rem);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 120px;
    // width: 120px;
    // border-style: solid;
    // border-color: transparent; // Standard: unsichtbar
    // box-sizing: border-box;
}

.card-button {
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: none;
    padding: unset;

    border-style: solid;
    border-color: transparent;
    box-sizing: border-box;


    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 300ms ease-in-out;
        transform-style: preserve-3d;
    }

    &__face {
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        box-sizing: border-box;
        border-radius: inherit;

        &--back {
            transform: rotateY(180deg);
            padding: clamp(0.563rem, 0.151rem + 2.059vw, 1.438rem);
        }
    }

    &.is-flipped .card-button__inner {
        transform: rotateY(180deg);
    }
}

.card-button__face img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.theme-gaming .card-button {
    width: 105px;
    height: 120px;
}

.theme-projects .card-button {
    width: 120px;
    height: 100px;

    &__inner {
        border-radius: 13px;
    }
}

.theme-gaming .card-button {
    border-width: 3px;
}

.theme-projects .card-button {
    border-width: 2px;
}

.theme-food .card-button {
    border-width: 4px;
}

.winner-icon {
    height: clamp(9.375rem, 8.482rem + 4.464vw, 12.5rem);
    width: clamp(9.375rem, 8.482rem + 4.464vw, 12.5rem);
}

.game-over-wrapper {
    @include flex-align.flex-align-center;
    flex-direction: column;
    font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);


    .game-over-text {
        color: var(--green-500);
        font-size: clamp(3rem, 1.643rem + 6.786vw, 7.75rem);
        font-weight: 700;
        margin-bottom: clamp(3.5rem, 2.714rem + 3.929vw, 6.25rem);
        text-shadow: -2px -2px 1px var(--green-100);
    }

    .game-over-score {
        color: var(--white);
        font-size: 26px;
        font-weight: 400;
    }

    .score-wrapper {
        display: flex;
        gap: 32px;
        background-color: var(--green-400-transparent-20);
        padding: 20px;
        margin-top: 24px;

        .player-score {
            @include flex-align.flex-align-center;
            // display: flex;
            gap: 5px;
            text-transform: capitalize;
        }
    }
}

.winner-wrapper {
    @include flex-align.flex-align-center;
    flex-direction: column;

    .winner-text {
        color: var(--white);
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .winner-player {
        color: var(--blue);
        font-size: clamp(2.5rem, 2.143rem + 1.786vw, 3.75rem);
        font-weight: 700;
        text-transform: uppercase;
    }

    .winner-icon {
        // margin: 64px 0;
        margin-top: clamp(1.75rem, 1.107rem + 3.214vw, 4rem)
    }
}

.exit-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    &.d-none {
        display: none;
    }
}

.exit-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 54px;
    padding: 40px;
    text-align: center;
    width: 480px;
    height: 250px;
}

.exit-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;

    >button {
        cursor: pointer;
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    // .game-field {
    //     display: flex;
    //     align-items: center;
    // }

    .game-over-text {
        font-size: 52px;
        margin-bottom: 52px;
    }
}

@media (max-width: 850px) {
  header {
    flex-direction: column-reverse;
    gap: 8px;
  }

  .exit-wrapper {
    margin-bottom: 32px;
  }
}