@use "../abstracts/mixins" as flex-all;
@use "../abstracts/mixins" as flex-align;
@use "../abstracts/mixins" as flex-justify;

body {
  @include flex-justify.flex-justify-center;
  background-color: var(--white);
  font-family: "Almarai", sans-serif;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 32px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
}

main {
  @include flex-justify.flex-justify-center;
  width: 100%;
  padding: 0;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 2rem);
  box-sizing: border-box;
}

h1 {
  font-family: "Red Rose", sans-serif;
  font-size: clamp(3rem, -0.25rem + 10vw, 8.75rem);
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: clamp(1rem, 1.2vw + 0.75rem, 1.5rem);
  font-weight: 700;
  margin: 0;
}

.settings-title {
  position: relative;
  display: inline-block;
}

.settings-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 4px;
  background: var(--yellow-line);
}

.settings-title::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--yellow-300);
  left: 0;
  bottom: -20px;
  transform: rotate(45deg);
}

.title-wrapper {
  @include flex-align.flex-align-center;
  padding: 0 0 0.5em;
  gap: 0.25em;

  img {
    height: 32px;
    flex-shrink: 0;
  }
}

// .settings-content-wrapper {
//   display: grid;
//   grid-template-columns: 260px minmax(0, 1fr);
//   grid-template-areas:
//     "settings preview"
//     "settings selection";
//   gap: clamp(1rem, 2.5vw, 2.5rem);
//   align-items: start;
//   width: 100%;
// }

.settings-content-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-areas:
    "settings preview"
    "settings selection";
  gap: 24px 32px;
  align-items: start;
  width: 100%;
}

// .settings-box {
//   grid-area: settings;
//   margin: 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   width: 260px;


//   .theme-box,
//   .player-box,
//   .size-box {
//     margin: 0 0 clamp(1rem, 2vw, 2rem);

//     .theme-list li,
//     .player-list li,
//     .size-list li {
//       margin: 0.5em 0;
//     }
//   }
// }

.settings-box {
  grid-area: settings;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 260px;
  flex: 0 0 260px;

  .theme-box,
  .player-box,
  .size-box {
    margin: 0 0 clamp(1rem, 2vw, 2rem);

    .theme-list li,
    .player-list li,
    .size-list li {
      margin: 0.5em 0;
    }
  }
}

.preview-wrapper {
  grid-area: preview;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  // min-width: 0;
}

.preview {
  // justify-self: end;
  max-width: 100%;
}

.settings-form {
  grid-area: selection;
  justify-self: end;
  // width: fit-content;
  // max-width: 100%;
  width: auto;
}

.settings-selection {
  background-color: var(--panel-bg);
  display: grid;
  grid-template-columns: 200px 8px 150px 8px 140px max-content;
  grid-template-areas: "theme sep1 player sep2 size button";
  align-items: center;
  gap: 16px;
  padding: 18px 24px;
  box-sizing: border-box;

  .separator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 56px;
    width: 8px;
    background-color: var(--panel-separator);
    transform: rotate(16deg);
    flex-shrink: 0;
  }

  .diamond {
    border: solid 6px var(--panel-separator);
    transform: rotate(45deg);
    margin-left: -4px;
  }

  .sep1 {
    grid-area: sep1;
  }

  .sep2 {
    grid-area: sep2;
  }

  .separator-small {
    width: 4px;
  }

  .current-theme {
    grid-area: theme;
    width: 200px;
  }

  .current-player {
    grid-area: player;
    width: 150px;
  }

  .current-size {
    grid-area: size;
    width: 140px;
  }

  .current-player,
  .current-size,
  .current-theme {
    font-size: clamp(1rem, 1vw + 0.75rem, 1.25rem);
    text-align: center;
    padding: 0.5em;
    white-space: nowrap;
    overflow: visible;
    box-sizing: border-box
  }

  .start-btn {
    @include flex-all.flex-all-center;
    grid-area: button;
    gap: 0.5em;
    font-family: "Red Rose", sans-serif;
    justify-self: start;
    padding: 14px 24px;
  }
}

// .settings-selection {
//   display: grid;
//   grid-template-columns: 260px 1fr;
//   grid-template-areas:
//     "settings preview"
//     "settings selection";
//   gap: 24px 32px;
//   align-items: start;
//   width: 100%;

//   .separator {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     height: 56px;
//     width: 8px;
//     background-color: var(--panel-separator);
//     transform: rotate(16deg);
//     flex-shrink: 0;
//   }

//   .diamond {
//     border: solid 6px var(--panel-separator);
//     transform: rotate(45deg);
//     margin-left: -4px;
//   }

//   .sep1 {
//     grid-area: sep1;
//   }

//   .sep2 {
//     grid-area: sep2;
//   }

//   .separator-small {
//     width: 4px;
//   }

//   .current-theme {
//     grid-area: theme;
//     width: 200px;
//   }

//   .current-player {
//     grid-area: player;
//     width: 150px;
//   }

//   .current-size {
//     grid-area: size;
//     width: 140px;
//   }

//   .current-player,
//   .current-size,
//   .current-theme {
//     font-size: clamp(1rem, 1vw + 0.75rem, 1.25rem);
//     text-align: center;
//     padding: 0.5em;
//     white-space: nowrap;
//     box-sizing: border-box;
//   }

//   .start-btn {
//     @include flex-all.flex-all-center;
//     grid-area: button;
//     gap: 0.5em;
//     font-family: "Red Rose", sans-serif;
//     padding: 12px 18px;
//     justify-self: start;
//   }
// }

.start-btn-activate {
  color: #303131;
  background-color: var(--yellow-300);
}

.line-wrap-small {
  display: none;
  align-items: center;
}

.line-small {
  width: 41px;
  height: 3px;
  background-color: var(--yellow-300);
}

.diamond-small {
  width: 12px;
  height: 12px;
  background-color: var(--yellow-300);
  transform: rotate(45deg);
}

.list-element {
  input {
    border: solid 3px #303131;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    flex-shrink: 0;
  }
}

label {
  @include flex-align.flex-align-center;
  gap: 10px;
  cursor: pointer;
}

.list-element:has(input:checked) {
  .line-wrap-small {
    display: flex;
  }

  .list-text {
    font-weight: 700;
  }

  input {
    border: solid 2px #303131;
    background: radial-gradient(#303131 0 25%, transparent 30% 100%);
  }
}

.theme-list.has-hover .list-element:has(input:checked):not(.is-hovered),
.player-list.has-hover .list-element:has(input:checked):not(.is-hovered),
.size-list.has-hover .list-element:has(input:checked):not(.is-hovered) {
  .line-wrap-small {
    display: none;
  }

  .list-text {
    font-weight: 400;
  }

  input {
    border: solid 3px #303131;
    background: #fff;
  }
}

.theme-list.has-hover .list-element.is-hovered,
.player-list.has-hover .list-element.is-hovered,
.size-list.has-hover .list-element.is-hovered {
  .line-wrap-small {
    display: flex;
  }

  .list-text {
    font-weight: 700;
  }

  input {
    border: solid 2px #303131;
    background: radial-gradient(#303131 0 25%, transparent 30% 100%);
  }
}

.d-none {
  display: none;
}