@use "../../styles/abstracts/variables";

  /* ---------- Code vibes ---------- */

body.theme-code-vibes {
  background-color: var(--neutral-900);
}

header.header-code-vibes {
  background-color: var(--neutral-900);
}

.card-bg-code {
  background-color: var(--green-100);
}

.border-card-code {
  border: solid 5px var(--match-status-border-green);
}

.card-match-bg-code {
  background-color: var(--match-status-bg);
}

.card-match-shadow-code {
  box-shadow: 6px 6px 8px 0px rgba(77, 213, 188, 0.3);
}

  /* ---------- Gaming ---------- */

body.theme-gaming {
  background-color: var(--blue-800);
}

header.header-gaming {
  background-color: var(--red_600-transparent-20);
}

/*
    gameBackground: "game-bg-gaming",
    gameOverBackground: "game-over-bg-gaming",
    winnerBackground: "winner-bg-gaming",
    cardBackground: "card-bg-gaming",
    cardMatchBorder: "",
    cardMatchBackground: "",
    cardMatchShadow: "",
*/

  /* ---------- DA Projects ---------- */

/*
    bodyClass: "theme-da-projects",
    headerClass: "header-da-projects",
    gameBackground: "game-bg-projects",
    gameOverBackground: "game-over-bg-projects",
    winnerBackground: "winner-bg-projects",
    cardBackground: "card-bg-projects",
    cardMatchBorder: "",
    cardMatchBackground: "",
    cardMatchShadow: "",
*/

  /* ---------- Food ---------- */

/*
    bodyClass: "theme-food",
    headerClass: "header-da-projects",
    gameBackground: "game-bg-food",
    gameOverBackground: "game-over-bg-food",
    winnerBackground: "winner-bg-food",
    cardBackground: "card-bg-food",
    cardMatchBorder: "",
    cardMatchBackground: "",
    cardMatchShadow: "",
*/
