@use "../../styles/abstracts/variables";

  /* ---------- Code vibes ---------- */

body.theme-code {
  background-color: var(--neutral-900);
}

header.header-code {
  background-color: var(--neutral-900);
}

.card-bg-code {
  background-color: var(--green-100);
}

.card-match-border-code {
  border: solid 5px var(--green-100);
}

.card-match-bg-code {
  background-color: var(--red-50);
}

.card-match-shadow-code {
  box-shadow: 6px 6px 8px 0px rgba(77, 213, 188, 0.3);
}

  /* ---------- Gaming ---------- */

body.theme-gaming {
  background-color: var(--blue-800);
}

header.header-gaming {
  background-color: var(--red_600-transparent-20);
}

.card-bg-gaming {
  background-color: var(--red-50);
}

.card-match-border-gaming {
  border: solid 3px var(--red-500);
}

.card-match-bg-gaming {
  background-color: var(--red-50);
}

.card-match-shadow-gaming {
  box-shadow: 5px 5px 8px 0px var(--red_700-transparent-30);
}

  /* ---------- DA Projects ---------- */

body.theme-projects {
  background-color: var(--white);
}

header.header-projects {
  background-color: var(--blue-200);
}

.gameOverBackground,
.winnerBackground {
  background-color: var(--blue-700);
}

.card-bg-projects {
  background-color: var(--blue-400);
}

.card-match-border-projects {
  border: solid 2px var(--blue-700);
}

.card-match-bg-projects {
  background-color: var(--blue-600);
}

  /* ---------- Food ---------- */

body.theme-food {
  background-color: var(--white);
}

header.header-food {
  background-color: var(--orange-300);
}

.card-bg-food {
  background-color: var(--orange-400);
}

.card-match-border-food {
  border: var(--match-status-border);
}

.card-match-bg-food {
  background-color: var(--orange-400);
}

