@use "../../styles/abstracts/variables";
@use "../components/card";
@use "../pages/game-styles";
@use "../themes/theme";
@use "../abstracts/mixins" as flex-all;
@use "../abstracts/mixins" as flex-align;


header {
  @include flex-align.flex-align-center;
  padding: 1em;
  justify-content: space-between;
  color: white;
  margin: 10px 0 20px;
  width: 90%;

  .score-wrapper {
    @include flex-all.flex-all-center;
    gap: 20px;
    padding: 0.75em 1em;
    text-transform: capitalize;
    font-size: clamp(1.125rem, 0.949rem + 0.882vw, 1.5rem);

    .player-score {
      display: flex;
      gap: 5px;
      text-transform: capitalize;
    }
    .player-svg {
      height: 40px;
    }
  }

  .player-score {
    display: flex;
    align-items: center;
    gap: 4px;

    >img {
      height: clamp(0.875rem, 0.699rem + 0.882vw, 1.25rem);
    }
  }

  .current-player-wrapper {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: clamp(1.5rem, 1.265rem + 1.176vw, 2rem);
    gap: 8px;

    >img {
      height: clamp(1.125rem, 0.949rem + 0.882vw, 1.5rem);
    }
  }

  .exit-wrapper {
    @include flex-all.flex-all-center;
    gap: 10px;
    padding: 0.75em 1em;
    font-size: clamp(1.125rem, 0.949rem + 0.882vw, 1.5rem);
  }
}

@media (max-width: 850px) {
  header {
    flex-direction: column-reverse;
    gap: 8px;
  }

  .exit-wrapper {
    margin-bottom: 32px;
  }
}