@use "../../styles/abstracts/variables";
@use "../components/card";
@use "../pages/game-styles";
@use "../themes/theme";
@use "../abstracts/mixins" as flex-all;
@use "../abstracts/mixins" as flex-align;


header {
  @include flex-align.flex-align-center;
  padding: 1em;
  justify-content: space-between;
  color: white;
  margin: 10px 0 20px;

  .score-wrapper {
    @include flex-all.flex-all-center;
    gap: 20px;
    padding: 0.75em 1em;
    text-transform: capitalize;
    font-size: 24px;

    .player-score {
      display: flex;
      gap: 5px;
      text-transform: capitalize;
    }
  }

  .player-score {
    display: flex;
    align-items: center;
    gap: 4px;

    >img {
      height: 20px;
    }
  }

  .current-player-wrapper {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: 32px;
    gap: 8px;

    >img {
      height: 24px;
    }
  }

  .exit-wrapper {
    @include flex-all.flex-all-center;
    gap: 10px;
    padding: 0.75em 1em;
    font-size: 24px;
  }
}